body {
    background-color: black;
    color: white;
    text-align: center;
    outline: 2pt;
    outline-color: white;
    margin: 200px;
  }
  p.solid {
    border-style: solid;
    border-color: white;
    border: 1pt;
}

.phone {
    margin: auto;
    text-align: center;
      width: 300px;
      height: 600px;  
      padding: 200px;
      padding-left: 25px;
      padding-right: 25px;
      border: 1px solid white;
      box-sizing: border-box;
  
    }
    a{
        color: white;
    }